@model Booknix.Domain.Entities.Service

<div id="service-details-container">
    <input type="hidden" id="service-id" value="@Model.Id" />
    <input type="hidden" id="service-location-id" value="@Model.LocationId" />
    
    <div class="form-data" data-name="@Model.Name" data-description="@Model.Description" data-price="@Model.Price" data-duration="@Model.Duration"></div>
    
    @if (Model.ServiceEmployees != null && Model.ServiceEmployees.Any())
    {
        <div class="selected-workers">
            @foreach (var employee in Model.ServiceEmployees)
            {
                <input type="hidden" class="selected-worker-id" value="@employee.WorkerId" />
            }
        </div>
    }
</div> 